/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --weight-text: 410;
  --weight-title: 715;
  --main-font-size: 18px;
  --header-font-size: clamp(49px, 32px + 4.3vw, 65px);
  --gradient: 
  repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --block-width: clamp(320px, 100vw, 700px);
  --card-border: 2px solid #000;
  --padding-title: 4px 0 4px 10px;
  --main-color: #fff;
  --accent-color: #000;
  --line-height-text: 21px;
  --text-stroke-color: #fff;
  --heart-contour-color: #000;
  --heart-fill-color: #ff0000;
  --heart-core-color: #fff;
}

